career_roadmap.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appeUWFbwX8NZOFxi",
          "mode": "list",
          "cachedResultName": "Career Path",
          "cachedResultUrl": "https://airtable.com/appeUWFbwX8NZOFxi"
        },
        "table": {
          "__rl": true,
          "value": "tblNwSOfqNEpGxJJe",
          "mode": "list",
          "cachedResultName": "UserData",
          "cachedResultUrl": "https://airtable.com/appeUWFbwX8NZOFxi/tblNwSOfqNEpGxJJe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Interest": "={{ $json.Interest }}",
            "Profession": "={{ $json.Profession }}",
            "Phone": "={{ $json.Phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Doctor",
                  "value": "Doctor"
                },
                {
                  "name": "Engineer",
                  "value": "Engineer"
                },
                {
                  "name": "Business",
                  "value": "Business"
                },
                {
                  "name": "Banker",
                  "value": "Banker"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        32,
        -128
      ],
      "id": "fccae002-e4f8-47dc-9657-1e1ba77a2ca4",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OE88NA5HlIktR8zi",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Doctor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7297ba74-44e7-430d-b9a7-1c3ac6b75c59"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "454143a0-35f7-44bf-8d4d-8d1cd6a4497b",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa7d222a-bc95-464c-82a9-8a6a49a1de07",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "261ceb61-b0c7-4b06-aa0a-b721adf0cbb2",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Banker",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        192,
        -16
      ],
      "id": "67781915-0930-42b1-9ee7-8a7ed3f1ed8f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an expert Career Strategist and Professional Development Coach. Your goal is to generate a highly personalized, 6-month career roadmap based on the user’s specific profile.\n\nInput Context:\nYou will receive the following user data:\n\nName: {{ $json.fields.Name }}\n\nEmail: {{ $json.fields.Email }}\n\nPhone: {{ $json.fields.Phone }}\n\nCurrent Profession: {{ $json.fields.Profession }}\nKey Interests: {{ $json.fields.Interest }}\n\nInstructions:\n\nTone & Personalization: Address the user by {{ $json.fields.Name }}. Maintain a professional, encouraging, and data-driven tone.\n\nThe \"Bridge\" Strategy: Create a roadmap that connects their Current Profession with their Key Interests. For example, if they are a \"Marketing Manager\" interested in \"AI,\" the roadmap should focus on \"AI-Driven Marketing Automation.\"\n\nStructure: Your response must follow this exact format:\n\nProfessional Assessment: A brief 2-sentence summary of the current market landscape for their profession.\n\nPhase 1: Skill Acquisition (Months 1-2): List 3 specific hard or soft skills they need to develop, tailored to their interests.\n\nPhase 2: Project & Portfolio (Months 3-4): Suggest one concrete project they can build or a certification they should pursue.\n\nPhase 3: Networking & Market Positioning (Months 5-6): Specific advice on how to update their LinkedIn and where to find relevant professional communities.\n\nKey Resource Recommendation: Suggest one specific tool, book, or platform relevant to their field.\n\nConstraints:\n\nDo not exceed 500 words.\n\nUse Markdown for clarity (bolding, bullet points).\n\nFocus on high-growth areas (e.g., Automation, AI, Digital Transformation) where applicable. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        -48
      ],
      "id": "dff7315d-b58b-4588-a5d6-ae7d6d24912d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        192
      ],
      "id": "61ebc065-461b-4c14-be98-8b00d325ba56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OaU48t2LvuVZdApS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appeUWFbwX8NZOFxi",
          "mode": "list",
          "cachedResultName": "Career Path",
          "cachedResultUrl": "https://airtable.com/appeUWFbwX8NZOFxi"
        },
        "table": {
          "__rl": true,
          "value": "tblNwSOfqNEpGxJJe",
          "mode": "list",
          "cachedResultName": "UserData",
          "cachedResultUrl": "https://airtable.com/appeUWFbwX8NZOFxi/tblNwSOfqNEpGxJJe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record').item.json.id }}",
            "Roadmap": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Doctor",
                  "value": "Doctor"
                },
                {
                  "name": "Engineer",
                  "value": "Engineer"
                },
                {
                  "name": "Business",
                  "value": "Business"
                },
                {
                  "name": "Banker",
                  "value": "Banker"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Roadmap",
              "displayName": "Roadmap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        192
      ],
      "id": "21c2ec55-1bb6-4e44-a563-b190a8789eb5",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OE88NA5HlIktR8zi",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Career Roadmap",
        "formDescription": "Get a personalized 6-month career roadmap powered by AI. Fill in your professional details below, and our agent will generate a step-by-step strategy to align your career with your interests instantly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Doctor"
                  },
                  {
                    "option": "Engineer"
                  },
                  {
                    "option": "Business"
                  },
                  {
                    "option": "Banker"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Phone"
            },
            {
              "fieldLabel": "Interest"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -128,
        112
      ],
      "id": "a8f438a9-538d-4b5d-864b-4daf85a9a2c5",
      "name": "On form submission",
      "webhookId": "d40c6f74-325e-406e-89aa-a10f7fa2a773",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Your Career Roadmap",
        "completionMessage": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        768,
        -32
      ],
      "id": "8b536737-a7e2-4021-a96a-c911d3da4d60",
      "name": "Form",
      "webhookId": "843d4bf3-9eeb-407c-a2ee-e9fa5f87ea8d"
    }
  ],
  "connections": {
    "Create a record": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b107c85a5807491aedbdd3c196c3bb6a72f2b1713173258229ed7804aa92c818"
  }
}